html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1B2845;
  background: -webkit-linear-gradient(76deg, rgba(27, 40, 69, 1) 0%, rgba(37, 64, 125, 1) 65%, rgba(67, 133, 204, 1) 100%);
  background: -moz-linear-gradient(76deg, rgba(27, 40, 69, 1) 0%, rgba(37, 64, 125, 1) 65%, rgba(67, 133, 204, 1) 100%);
  background: linear-gradient(76deg, rgba(27, 40, 69, 1) 0%, rgba(37, 64, 125, 1) 65%, rgba(67, 133, 204, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1B2845", endColorstr="#4385CC", GradientType=0);

}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white
}

input {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #fff
}

input::placeholder {
  color: #ddd
}

input[type="password"]:focus, input[type="text"]:focus {
  outline: 2px solid black
}

button {
  padding: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease-in-out
}12



.login__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: white;
}

.login__field {
  position: relative;
  width: 100%;
  margin: 12px 0;
}

.login__input {
  width: 90%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  color: white;
  font-size: 0.9rem;
}

.login__input:focus {
  outline: none;
  border-bottom: 2px solid #67a6ff;
}

.login__label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #bbb;
  pointer-events: none;
  transition: 0.2s ease all;
}


.login__input:focus + .login__label,
.login__input:not(:placeholder-shown) + .login__label {
  top: -8px;
  left: 8px;
  font-size: 0.8rem;
  color: #67a6ff;
  background: #1B2845;
  padding: 0 4px;
  border-radius: 4px;
}
.__logo {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 12rem;
  left: 10rem;
}
